.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vw;
  margin-bottom: 2vw;
}

.App-header {
  /* background-color: #9c9a1f;
  height: 5%;
  /* padding: 10px; */
  color: #222; 
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

cite {
  font-weight: bold;
}
table {
  align-content: center;
  margin: auto;
}
td {
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.cap-first-letter:first-letter {
  text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
  border: 1px;
}
@keyframes App-logo-spin {
  from {
     transform: rotate(0deg);
  }
  to {
     transform: rotate(360deg);
  }
}

/* Below is customize CSS */
.showlink {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #1e8678;
  text-decoration: none !important;
}

.showlink:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}



.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
  border-style: solid;
}

.pagination .break a {
  cursor: default;
}


.navbar {
  background-color: rgb(248, 206, 90);
  /* background-color: rgba(216, 62, 62, 0.685); */
}

.navbar-inverse .navbar-brand {
  color: #194b85;
  font-weight: bold;
  font-size: 3vw;
  font-family:sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color: #194b85;
  font-weight: bold;
  font-size:1.8vw;
  font-family:sans-serif;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color:rgba(199, 71, 71, 0.685);
}
.infoIntro {
  margin-left:5%;
  margin-right:5%;
  font-size:3vw;
  font-family:sans-serif;
}

.Error404 {
  font-size:3vw;
  color:red;
}
/* Profile Page CSS */
.pro_back {
  font-family:sans-serif;
}
.pro_name {
  font-size:4vw;
}

.pro_before_ev {
  font-size:2.5vw;
}

.pro_setting {
  font-size:2.5vw;
}

.li_pro_ev {
  font-size:1.5vw;
  border: ridge;
  border-color:rgb(16, 219, 16);
}
.carousel {
  color:black;
}
.carousel img {
  min-width: 100%;
  max-height: 30vh;
  max-width: none;
}

/* Profile Page CSS */

/*-----------------------------*/

/* Help Page CSS */
.help_advice {
  margin-top: 2vw;
  font-size:2vw;
  margin-bottom: 2vw;
}

.help_report {
  font-size:2vw;
  margin-bottom: 2vw;
}
/* Help Page CSS */

/*-----------------------------*/

/* Friends page CSS */
.fr_bar {
  font-size:1.5vw;
  /* border-bottom:1px solid grey; */
}

.fr_top_wrap {
  border-bottom: dashed;
}

.fr_bar_plus {
  margin-right: 3vw;
}
.fr_bar_remove {
  color:black;
}

@media (max-width: 768px) {
  .fr_userimg {
    width:100px;
    height:100px;
  }
}
.fr_list_wrap {
  margin-bottom: 3vw;
  border-bottom: 1vw ridge orange;
}
.media-left {
 left:20%;
}
.media-body {
  
  text-align: left;
}
/* Friends page CSS */

/*-----------------------------*/

/* Activity list page CSS */
.act_list_wrap {
  margin-bottom: 3vw;
  border-bottom: 2px dashed grey;
  font-family:sans-serif;
}

@media (max-width: 768px) {
  .act_evimg {
    width:100px;
    height:100px;
  }
}

.act_detailButton_wrap {
  margin-top: 3vw;
  
}

.act_button_join {
  margin-left: 3vw;
  background-color:rgb(241, 62, 62);
  color:white;
}
.act_button_create {
  margin-bottom: 1vw;
  background-color: #f13a59;
  color:white;
  font-size:1.4vw;
}

.actL_searchGrid {
  text-align:left;
  font-size:1.2vw;
}
.actL_title_wrap {
  border-bottom: 1vw dashed rgb(246, 224, 124);
  font-family:sans-serif;
  font-size:1.5vw;
}
/* Activity list page CSS */

/*-------------------------*/

/* Activity detail page CSS */
.actD_description {
  font-size:2.2vw;
}
.actD_creatorname {
  font-size: 2vw;
}
.actD_info {
  font-size:2.5vw;
  font-weight:bold;
}

/* Activity detail page CSS */

.actC_body_wrap {
  text-align: center;
  font-family:sans-serif;
}

.actC_intro {
  text-align: center;
  font-size: 3vw;
}

.actC_button_submit {
  background-color: #f13a59;
  color: white;
}


/* Activity create page CSS */





/* Activity create page CSS */